<div class="container">
    <form [formGroup]="items">
        <div class="row">
          <div class="col-md-12 space">
            <label>ID</label>
            <input type="text" class="form-control" placeholder="Coloque ID" formControlName="id">
          </div>
          <div class="col-md-12 space">
              <label>Título</label>
            <input type="text" class="form-control" placeholder="Coloque Título" formControlName="title">
          </div>
        </div>
        <button type="button" class="btn btn-primary space" (click)="onSubmit()" value="submit">Guardar</button>
      </form>
</div>