<div class="container">
    <div class="row">
        <div class="col-md-2">
            <h1>editItem</h1>
        </div>
        <div class="col-md-8">
            <ag-grid-angular style="width: 610px; height: 490px;" class="ag-theme-balham" [rowData]="rowData"
                [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" [pagination]="true" [paginationAutoPageSize]="true"
                [enableFilter]="true" [rowSelection]="rowSelection" (selectionChanged)="onSelectionChanged($event)"
                (gridReady)="onGridReady($event)">
            </ag-grid-angular>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
