<ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="large"
    color="#fff"
    type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Cargando...</p>
</ngx-spinner>
<ngx-alerts></ngx-alerts>
<app-menu></app-menu>
<router-outlet></router-outlet>
