<div class="container">
    <div class="row">
        <div class="col-md-2">
            <h1>editItem</h1>
        </div>
        <div class="col-md-8">
            <ag-grid-angular style="width: 610px; height: 490px;" class="ag-theme-balham" [rowData]="rowData"
                [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" [pagination]="true" [paginationAutoPageSize]="true"
                [enableFilter]="true" [rowSelection]="rowSelection" (selectionChanged)="onSelectionChanged($event)"
                (gridReady)="onGridReady($event)">
            </ag-grid-angular>
        </div>
    </div>
</div>