<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="viewlist">ViewList</a>
        <a class="nav-item nav-link" href="createitem">CreateList</a>
        <a class="nav-item nav-link" href="viewitems">ViewItem</a>
        <a class="nav-item nav-link" href="edititem">EditItem</a>
        <a class="nav-item nav-link" href="deleteitem">DeleteItem</a>
      </div>
    </div>
  </nav>
